nav {
    background: #292b2c;
}

.margin-mid {
    margin-top: 7%;
}

.margin-max {
    margin-top: 15%;
}

.margin-min {
    margin-top: 4%;
}

.products {
    padding: 2%;
}

.products img {
    width: 100%;
    height: auto;
}

.form select {
    width: 50%;
    height: 50px;
    padding: 1%;
}

.form input {
    width: 50%;
    height: 40px;
    padding: 1%;
}

.text-link {
    color: #000;
    transition: all 500ms ease;
    text-decoration: none;
}

.text-link:hover {
    color: #666666;
    transition: all 500ms ease;
    text-decoration: none;
}

.car-details img {
    width: 100%;
}

.price {
    color: red;
}

#nav-item {
    font-size: 18px;
    transition: all 500ms ease;
}

#nav-item:hover {
    color: #cccccc;
}

nav a {
    transition: all 500ms ease;
    color: #ffffff;
    font-size: 30px;
}

nav a:hover {
    color: #cccccc;
}

.perform-command a {
    font-size: 30px;
    color: #000;
    transition: all 500ms ease;
    text-decoration: none;
    padding: 1%;
    border-bottom: 1px #ffffff solid;
}

.perform-command a:hover {
    color: #666666;
    transition: all 500ms ease;
    padding: 1%;
    border-bottom: 1px #666666 solid;
}

.sign a {
    color: #000;
    transition: all 500ms ease;
    text-decoration: none;
    font-size: 20px;
}

.sign a:hover {
    color: #666666;
    transition: all 500ms ease;
    text-decoration: none;
}

.sign-up-form input {
    width: 30%;
    font-size: 20px;
}

.sign-up-form label {
    font-size: 20px;
    padding: 1%;
}
.sign-up-form p {
    font-size: 0;
}
