{% extends "base-vue.html" %}

{% block content %}

{% if user.is_authenticated %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CarShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'password_change' %}" id="nav-item"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Schimba Parola</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'logout' %}" id="nav-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Delogare</a>
              </li>
          </ul>
      </div>

      <a class="navbar-brand-right" href="{% url 'cart_lister' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
  </nav>
{% else %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CarShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'login' %}" id="nav-item"><i class="fa fa-sign-in" aria-hidden="true"></i> Logare</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'signup' %}" id="nav-item"><i class="fa fa-user" aria-hidden="true"></i> Creaza un cont</a>
              </li>
          </ul>
      </div>

      <a class="navbar-brand-right" href="{% url 'cart_lister' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
  </nav>
{% endif %}

    <div class="margin-mid"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="car-details" align="center">
                    <img src="{{ product.image.url }}" />
                </div>
            </div>
            <div class="col-lg-5" align="center">
                <div>&nbsp;</div>
                <h1>Model {{ product.name }}</h1>
                <div>&nbsp;</div>
                <h3 class="price">Pret {{ product.price }} Euro </h3>
                <div>&nbsp;</div>
                <p><b>Anul fabricatiei {{ product.an_fabricatie }}</b></p>
                <div>&nbsp;</div>
                <p><b>Motorizarea {{ product.motorizare }}</b></p>
                <div>&nbsp;</div>
                <p><b>Kilometraj {{ product.kilometraj }} Km</b></p>
                <div>&nbsp;</div>
                <p><b>Tara de origine {{ product.tara_de_origine }}</b></p>
                <div>&nbsp;</div>
                <p><b>Oferit de {{ product.oferit_de }}</b></p>
            </div>
        </div>
    </div>

    <div>&nbsp;</div>

    <div class="container">
        <div>&nbsp;</div>
        <h3>Detalii</h3>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-lg-6">
                <p>Tip caroserie <b>{{ product.caroserie }}</b></p>
                <p>Putere <b>{{ product.putere }} CP</b></p>
                <p>Capacitate cilindrica <b>{{ product.capacitate_cilindrica }} cm3</b></p>
                <p>Norma de poluare <b>{{ product.norma_de_poluare }}</b></p>
                <p>Culoare <b>{{ product.culoare }}</b></p>
            </div>
            <div class="col-lg-6">
                <p>Tara de origine <b>{{ product.tara_de_origine }}</b></p>
                <p>Stare <b>{{ product.stare }}</b></p>
                {% if product.available == True  %}
                <p><b>Produsul este in stoc</b></p>
                {% else %}
                <p><b>Produsul nu este in stoc</b></p>
                {% endif %}
                <p>Data in care a fost adaugata masina este <b>{{ product.created }}</b></p>
            </div>
        </div>
    </div>
    <div class="margin-mid"></div>

    <div class="container">
        <div class="col-lg-12">
            <h3>Descriere masina</h3>
            <div>&nbsp;</div>
            <p>Descriere {{ product.description }}</p>

        </div>
    </div>

    <div id="app">

    </div>



{% endblock %}
