{% extends "base-vue.html" %}

{% block html_tag_attributes %}lang="en"{% endblock %}

{% block content %}

<noscript>
    <strong>Please enable JavaScript to continue.</strong>
</noscript>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CarShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'password_change' %}" id="nav-item"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Schimba Parola</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}" id="nav-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Delogare</a>
            </li>
        </ul>
    </div>

    <a class="navbar-brand-right" href="{% url 'cart_lister' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
</nav>

<div class="margin-mid"></div>

<div id="app"></div>

{% endblock %}
