<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <meta content="utf-8" http-equiv="encoding" />
  <title>Magazin de masini</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/vue-material.css" />
  <script type="text/javascript" src="libs/vue.js"></script>
  <script type="text/javascript" src="libs/vue-material.js"></script>
  <script type="text/javascript" src="libs/axios.js"></script>
  <script type="text/javascript" src="src/users-service.js"></script>
</head>

<body>
  <div id="app">

    <div class="title">Masini</div>

    <p style="text-align: center" v-if="cars.length == 0">Nu s-au găsit mașini</p>

    <ul class="user-list" v-if="cars.length > 0">
      <li>
        <div class="user-row-header">
          <div class="user-name">Name</div>
          <div class="user-city">Price</div>
          <div class="user-city">An_fabricatie</div>
          <div class="user-city">Culoare</div>
          <div class="user-city">Tara_de_origine</div>
          <div class="user-city">Stare</div>
          <a class="" :href="'adauga.html?'">Adauga masina</a>
        </div>

      </li>

      <li v-for="car in cars">
        <div class="">
          <a class="user-city" :href="'details.html?id='+car.id">{{ car.name }}</a>
          <span class="user-city"><i>{{ car.price }}</i></span>
          <span class="user-city"><i>{{ car.an_fabricatie }}</i></span>
          <span class="user-city"><i>{{ car.culoare }}</i></span>
          <span class="user-city"><i>{{ car.tara_de_origine }}</i></span>
          <span class="user-city"><i>{{ car.stare }}</i></span>
          <button v-on:click="deleteCar(car.id)">Delete</button>
          <a :href="'update.html?id='+car.id" target="_self">Update</a>
        </div>
      </li>
    </ul>
  </div>
  <script src="src/app.js"></script>
</body>

</html>